<div class="fluid-container">
    <div class="fluid-container fundo">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2  style="color: aliceblue;">SEARCH ON GIT 4 YOUR FAVORITE LANGUAGE</h2>
        <mat-form-field appearance="outline">
          <mat-label>Favorite language</mat-label>
          <mat-select [(value)]="selected" disableOptionCentering (selectionChange)="pesquisar()">
            <mat-option *ngFor="let language of languages" [value]="language.value">
              {{language.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <div *ngIf="listaRetorno" class="container-fluid text-center">
      <div class="row">
      <ng-container *ngFor="let repo of listaRetorno; let i = index" >
        <div class="col-sm-2">
            <div class="card" style="display: block;">
              <div class="card-header">
                <a routerLink="/repo/{{repo.username}}/{{repo.name}}"><h4 class="card-title">
                    {{repo.name}}
                  </h4></a>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>starts:{{repo.followers}} </p>
                  <p>{{repo.description}}.</p>
                  <footer class="blockquote-footer">Author: {{repo.username}}</footer>
                </blockquote>
              </div>
            </div>
          </div>
          </ng-container>
        </div> 
        </div>
  </div>
  </div>
  