.jumbotron {
    background-color: #419bf9 !important;
    text-align: center;
  }
  
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    text-align: center;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }
  .temp {
    background-color: lightgray;
    height: 100px;
    text-align: center;
  }
  
  @keyframes ldio-rpinwye8j0b {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-rpinwye8j0b div {
    position: absolute;
    animation: ldio-rpinwye8j0b 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #e15b64;
    transform-origin: 80px 82px;
  }
  .loadingio-eclipse {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-rpinwye8j0b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-rpinwye8j0b div { box-sizing: content-box; }
  .fundo {
    background-color: rgba(247, 247, 247, 0.9);
  }
  
  .city{
    margin-top: -70px ;
  }
  
  .ion-android-search{
    position: absolute;
    top: 32%;
    right: 37%;
    font-size: 20px;
    color:#419bf9;
  }